header {
  height: 20vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}

button:has(a.active) {
  background-color: blueviolet;
}

a.active {
  color: white;
}
