.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.photo-gallery > figure {
  width: 100%;
  height: 100%;
  text-align: center;
}

.photo-gallery > figure > img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 1rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.buttons > button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  background-color: transparent;
  color: var(--primary);
  font-weight: 800;
}

.buttons > button:hover {
  background-color: var(--secondary);
}
