:root {
  --background-color: black;
  --primary: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary);
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  height: 70%;
  width: auto;
}

main {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  gap: 1rem;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  height: auto;
  width: 300px;
  text-align: center;
}

figure > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}

button {
  margin: 0 auto;
  display: block;
  border: 2px solid var(--primary);
  background: transparent;
  color: var(--primary);
  padding: 0.5rem 0.8rem;
}
