:root {
  --background-color: black;
  --primary: whitesmoke;
  --background-color-light: whitesmoke;
  --primary-light: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary);
}

.light {
  background-color: var(--background-color-light);
  color: var(--primary-light);
}
