* {
  margin: 0;
  padding: 0;
}

header {
  height: 15vh;
  background-color: cadetblue;
}

header > img {
  height: 50%;
  margin: 20px;
}

main {
  background-color: darksalmon;
  min-height: 15vh;
  max-height: 30vh;
  overflow-y: scroll;
}

.imagen {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.imagen > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box,
.border-box {
  width: 200px;
  height: 200px;
  background-color: burlywood;
  border: 8px solid black;
  padding: 10px;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}
