header {
  height: 20vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}

/* esto seria si el link a dentro del button pero pero mejor poner el navlink fuera y el button dentro 


button:has(a.active) {
  background-color: blueviolet;
} */

a.active button {
  background-color: blueviolet;
}
a.active {
  color: white;
}
