* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  background: #2f7a67;
  color: #fff;
  cursor: pointer;
  border: #2f7a67 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}
