main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
}

li {
  width: 200px;
  height: auto;
  list-style-type: none;
  text-align: center;
}

li > img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 1rem;
}
